name: Golang CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-get-dependencies:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Setup Golang
        uses: actions/setup-go@v3
        with:
          go-version: "1.23"
          
      - name: Download modules
        run: go mod download

      - name: Build binary
        run: go build -v -o app .

      - name: Build artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-binary
          path: app

  run-tests:
    runs-on: ubuntu-latest
    needs: build-and-get-dependencies
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Setup Golang
        uses: actions/setup-go@v3
        with:
          go-version: "1.23"
          
      - name: Run tests
        run: go test -v ./...
    
  
